@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tooltip-content {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.group:hover .tooltip-content {
  opacity: 1;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(148 163 184);
  border-radius: 10px;
  border: 2px solid #f5f5f5;
}

.scrollbar-custom::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

/* LEAFLET */
.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

/* Map tooltip custom class override */
g:focus {
  outline: none;
}

path:focus {
  outline: none;
}


/* Custom scrollbar styles */
.scrollbar-landing::-webkit-scrollbar {
  width: 10px;
  padding: 2px;
  background-color: #2b3441;
}

.scrollbar-landing::-webkit-scrollbar-track {
  background-color: #2b3441; /* Same as container background */
}

.scrollbar-landing::-webkit-scrollbar-thumb {
  background-color: #87888d; /* Color of the scrollbar thumb */
  border-radius: 8px;
  border: 2px solid #2b3441; /* Padding around thumb */
}
.scrollbar-landing::-webkit-scrollbar-thumb:hover {
  background-color: #4c58f6; /* Color of the scrollbar thumb */
  border-radius: 10px;
  border: 2px solid #2b3441; /* Padding around thumb */
}